*~
/.python-version
/ChangeLog
/ChangeLog-spell-corrected
/ChangeLog.orig
/ChangeLog.rej
/ChangeLog.spell-corrected
/Mathics3_natlang.egg-info
/build
/dist
/pymathics_natlang.egg-info
/tmp
__pycache__
