name: pymathics-natlang (Windows)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        os: [windows]
        python-version: [ 3.7, 3.8]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install wheel
        choco install llvm
        pip install pytest
        # Can remove after next Mathics-core release
        python -m pip install -e git+https://github.com/Mathics3/mathics-core#egg=Mathics3[full]
    - name: Install pymathics.natlang
      run: |
        pip install -e .
    - name: Test Mathics
      run: |
        make check
